<div class="container-fluid"> <!-- all content -->
	<div class="row"> <!-- all content -->
		<div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 sidebar"> <!-- sidebar column -->
			<div class="row ml-auto mr-auto">
				<h1 id="title">avid</h1>
			</div>
			<div class="row">
				<button class="standard add" id="addnyt"><img class="nav" id="nyt" src="assets/img/nyt-logo.png"></button>
				<button class="standard add" id="addct"><img class="nav" id="ct" src="assets/img/ct-logo.png"></button>
				<button class="standard add" id="addwsj"><img class="nav" id="wsj" src="assets/img/wsj-logo.png"></button>
				<button class="standard add" id="addwp"><img class="nav" id="wp" src="assets/img/wp-logo.png"></button>
				<button class="standard add" id="addbg"><img class="nav" id="bg" src="assets/img/bg-logo.png"></button>
				<a href="/"><button class="btn-primary standard" id="showall">All articles</button></a>
				<a href="/saved"><button class="standard save" id="saved">Saved articles</button></a>
				<button class="standard delete" id="clear">Clear all</button> 
			</div>
			<div class="row">
				<button id="returntotop" title="Return to top."><img class="nav" id="rtt" src="assets/img/plane.png" alt="return"></button> <!-- icon by Hanan -->
			</div> 
		</div> <!-- sidebar column -->

		<!-- REFERENCE: https://getbootstrap.com/docs/4.0/components/modal/ -->
		<div class="modal fade" id="added" tabindex="-1" role="dialog" aria-labelledby="added" aria-hidden="true"> <!-- resume modal -->
		  	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<h3 class="modal-title">Happy reading!</h3>
		        		<button type="button" class="close reload" data-dismiss="modal" aria-label="Close">
		          			<span aria-hidden="true">&times;</span>
		       		 	</button>
		      		</div>

			      	<div class="modal-body">
			        	<p id="count"></p>
			      	</div>

			      	<div class="modal-footer">
				        <a href="/"><button type="button" class="btn btn-primary reload">Keep reading...</button></a>
				    </div>
		    	</div> <!-- modal content -->
		  	</div> <!-- modal-dialog -->
		</div> <!-- resume modal -->

		<!-- REFERENCE: https://getbootstrap.com/docs/4.0/components/modal/ -->
		<div class="modal fade" id="notes" tabindex="-1" role="dialog" aria-labelledby="notes" aria-hidden="true"> <!-- resume modal -->
		  	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<h3 class="modal-title">Notes for this article...</h3>
		        		<button type="button" class="close reload" data-dismiss="modal" aria-label="Close">
		          			<span aria-hidden="true">&times;</span>
		       		 	</button>
		      		</div>

			      	<div class="modal-body">
			      		<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
				      		<form>
								<div class="form-group row">
									<label for="author" class="col-form-label col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">Author</label>
									<div class="col-12 col-sm-12 col-md-10 col-lg-10 col-xl-10">
										<input class="form-control" type="text" id="author">
									</div>
								</div>
								<div class="form-group row">
								    <label for="author" class="col-form-label col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">Comment</label>
								    <div class="col-12 col-sm-12 col-md-10 col-lg-10 col-xl-10">
								    	<textarea class="form-control" id="body" rows="3"></textarea>
									</div>
								</div>
							</form>

							<div id="notecollection">
								<div class="article">
									<h2 class="heading">No notes yet!</h2>
									<p>Be the first to submit a note!</p>
								</div>
							</div>
						</div>
			      	</div>

			      	<div class="modal-footer">
				        <button type="button" class="btn reload">Close</button>
				        <button type="button" class="btn btn-primary reload" id="submit">Add a note!</button>
				    </div>
		    	</div> <!-- modal content -->
		  	</div> <!-- modal-dialog -->
		</div> <!-- resume modal -->

		<div class="col-12 col-sm-12 col-md-12 col-lg-9 col-xl-9 main"> <!-- main -->
			<div class="row articles"> <!-- articles -->

				{{#each news}}
				<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
					<div class="article">
						<a href={{this.url}}><h2 class="heading">{{this.title}}</h2></a>
						<p>{{this.brief}}</p>
						<p><b>SOURCE:</b> <i>{{this.source}}</i></p>
						<button class="standard save savearticle reload" data-id={{this._id}}>Save</button>
						<button class="standard delete deletearticle reload" data-id={{this._id}}>Delete</button>
						<button class="standard btn-primary notes" data-id={{this._id}}>Notes</button>
					</div>
				</div>

				{{else}}
				<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
					<div class="article">
						<h2 class="heading">No articles yet!</h2>
						<p>Select your source from the sidebar.</p>
					</div>
				</div>
				{{/each}}

			</div> <!-- articles row -->
		</div> <!-- main column -->
	</div> <!-- all content row -->
</div> <!-- container-fluid for all content -->