<div class="container-fluid"> <!-- all content -->
	<div class="row"> <!-- all content -->
		<div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 sidebar"> <!-- sidebar column -->
			<div class="row ml-auto mr-auto">
				<h1 id="title">avid</h1>
			</div>
			<div class="row">
				<button class="standard add" id="addnyt" data-toggle="modal" data-target="#added"><img class="nav" id="nyt" src="assets/img/nyt-logo.png"></button><button class="standard delete" id="clear" data-toggle="modal">Clear all</button> 
			</div>
			<div class="row">
				<button id="returntotop" title="Return to top."><img class="nav" id="rtt" src="assets/img/plane.png" alt="return"></button> <!-- icon by Hanan -->
			</div> 
		</div> <!-- sidebar column -->

		<!-- REFERENCE: https://getbootstrap.com/docs/4.0/components/modal/ -->
		<div class="modal fade" id="added" tabindex="-1" role="dialog" aria-labelledby="added" aria-hidden="true"> <!-- resume modal -->
		  	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<!--<h3 class="modal-title"></h3>-->
		        		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          			<span aria-hidden="true">&times;</span>
		       		 	</button>
		      		</div>

			      	<div class="modal-body">
			        	<p>New content added!</p>
			      	</div>
		    	</div> <!-- modal content -->
		  	</div> <!-- modal-dialog -->
		</div> <!-- resume modal -->

		<div class="col-12 col-sm-12 col-md-12 col-lg-9 col-xl-9 main"> <!-- main -->
			<div class="row articles"> <!-- articles -->

				{{#each news}}
				<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
					<div class="article">
						<a href={{this.url}}><h2 class="heading">{{this.title}}</h2></a>
						<p>{{this.brief}}</p>
						<p><b>SOURCE:</b> <i>{{this.source}}</i></p>
						<button class="standard save">Save</button><button class="standard delete">Delete</button>
					</div>
				</div>

				{{else}}
				<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
					<div class="article">
						<h2 class="heading">No articles yet!</h2>
						<p>Select your source from the sidebar.</p>
					</div>
				</div>
				{{/each}}

			</div> <!-- articles row -->
		</div> <!-- main column -->
	</div> <!-- all content row -->
</div> <!-- container-fluid for all content -->